
<!--this is edit page.....the article is fetched and passed asa parameter here...it is handled by the edit method/action in the controller.... 

It is not necessary to pass all the attributes to update. For example, if @article.update(title: 'A new title') was called, Rails would only update the title attribute, leaving all other attributes untouched.





-->




<h1>Edit article</h1>
 
<%= render 'form' %>
 
<%= link_to 'Back', articles_path %>


